
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
    color: #333;
     /* Arrière-plan */
  background-image: url('arriereplan.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  color: white; 
  backdrop-filter: blur(5px);
}
  
  /* En-tête */
  header {
    background: linear-gradient(rgba(70, 111, 15, 0.6), rgba(0, 0, 0, 0.6));
    color: #fff;
    padding: 20px;
    text-align: center;
    background: url('image4.jpg') center/cover no-repeat;
    backdrop-filter: blur(5px);
  }
 
  nav {
    background: linear-gradient(rgba(70, 111, 15, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    padding: 10px 0;
    backdrop-filter: blur(5px);  
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 18px 25px;
    border-radius: 20px;
    transition: all 0.3s ease;
    color: white;
  }
  ul {
    list-style-position: inside; 
  }
  
  
  section {
    background: linear-gradient(rgba(70, 111, 15, 0.6), rgba(0, 0, 0, 0.6));
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .image-right {
    position: fixed;
    right: 0;
    top: 45%;
    transform: translateY(-35%);
    width: 40%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    object-fit: cover; 
    
  }
  
  .image-right img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  section h2 {text-decoration:none; display :flex; justify-content :center;}

  section h2 a{
    text-decoration: none;
    display: flex;
    justify-content: center;


  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #739552;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background: #c3f394;
    
  }
  
  
  footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    text-align: center;
    padding: 10px;
    margin-top: relative;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  }

/* Pour les smartphones en mode portrait */
@media only screen and (max-width: 600px) {
  body {
      font-size: 16px; 
  }

  nav ul {
      display: flex;
      flex-direction: column;
      align-items: center; 
  }

  nav ul li {
      margin: 10px 0; 
  }
  
}

/* Pour les tablettes) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  main {
      padding: 15px;
  }
}

/* Pour les ordinateurs de bureau */
@media only screen and (min-width: 1025px) {
  main {
      padding: 30px;
  }
}
@media only screen and (max-width: 1500px) {
  .image-right {
      display: none; 
  }
}
